<configuration scan="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="Error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>store.error.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>LoggingArchivError\store-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxFileSize>12MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="Warning" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>store.waring.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARNING</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>LoggingArchivWarning\store-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxFileSize>12MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
    <root level="warn">
        <appender-ref ref="Warning"/>
        <appender-ref ref="STDOUT"/>

    </root>
    <root level="error">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="Error"/>
    </root>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>